body
{    
    margin-left: 0px;
}

section
{ 
    max-width: 100%;
}

img
{
    width: 1355px;
    height: 600px;
    max-width: 100%;
}

.left-side
{
    position: relative;
    top: -600px;
}

h2
{
    font-family: 'Lobster', cursive;
    font-size: 60px;
    font-weight: 700;
    color: #ff0040;
    margin-left: 5px;
}

.headline
{
    color: #000066;
    font-size: 60px;
    margin-left: 5px;
}

h3
{
    color: tomato;
    margin-left: 5px;
}

.subscribe-form
{
    margin-left: 5px;
}

.subscribe-form input
{
    height: 35px;
    width: 280px;
    border-radius: 5px;
}

button
{
    background-color: #4CAF50;
    font-size: 15px;
    font-weight: bold;
    color: white;
    margin-top: 5px;
    padding: 10px;
    border-radius: 8px;
}

.contact
{
    position: relative;
    top: -1050px;
    left: 80%;
    width: 280px;
    height: 300px;
}

.contact h1
{
    margin-left: 55px;
    font-size: 30px;
    color: #000066;
}

.signin-form input
{
    height: 35px;
    width: 260px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.signin-form textarea
{    
    width: 260px;
    height: 150px;
    border-radius: 5px;
}

.contact .btn
{
    margin-left: 70px;
}

@media screen and (max-width: 600px)
{
    .contact
    {
        position: relative;
        top: -500px;
        left: 20%;
        width: 100px;
        height: 300px;
    }

    .contact .btn
    {
        margin-left: 80%;
    }

    .contact h1
    {
        width: 300px;
    }
}