body
{    
    margin-left: 0px;
}

section
{ 
    position: fixed;
}

img
{
    width: 1345px;
    height: 600px;
}

.left-side
{
    position: relative;
    top: -600px;
}

h2
{
    font-family: 'Lobster', cursive;
    font-size: 60px;
    font-weight: 700;
    color: #ff0040;
    margin-left: 5px;
}

.headline
{
    color: #000066;
    font-size: 60px;
    margin-left: 5px;
}

h3
{
    color: tomato;
    margin-left: 5px;
}

.subscribe-form
{
    margin-left: 5px;
}

.subscribe-form input
{
    height: 35px;
    width: 280px;
    border-radius: 5px;
}

button
{
    background-color: #4CAF50;
    font-size: 15px;
    font-weight: bold;
    color: white;
    margin-top: 5px;
    padding: 10px;
    border-radius: 8px;
}

.contact
{
    position: relative;
    top: -1050px;
    left: 1080px;
    width: 280px;
    height: 300px;
}

.contact h1
{
    margin-left: 55px;
    font-size: 30px;
    color: #000066;
}

.signin-form input
{
    height: 35px;
    width: 250px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.signin-form textarea
{    
    width: 250px;
    height: 150px;
    border-radius: 5px;
}

.contact .btn
{
    margin-left: 70px;
}